{% extends 'base.html' %}

{% block 'titulo' %}Contato{% endblock 'titulo' %}

{% block 'conteudo' %}
<section class="section-page-title" style="background-image: url(/static/images/page-titlte-1-1920x305.jpg); background-size: cover;">
  <div class="container">
    <h1 class="page-title">Contato</h1>
  </div>
</section>
<section class="breadcrumbs-custom">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="/">Home</a></li>
      <li class="active">Contato</li>
    </ul>
  </div>
</section>
<!-- Mailform-->
<section class="section section-md">
  <div class="container">
    <div class="row row-50">
      <div class="col-lg-8">
        <h2>Entre em contato!</h2>
        <div class="divider-lg"></div>
        <p>Após o envio de sua mensagem, responderei o mais rápido possível! 
        <!-- RD Mailform-->
        <form action"" method="post" class="contact-form">
          {% csrf_token %}
          <div class="row row-30">
            <div class="col-sm-6">
              <div class="form-wrap">
                <label class="form-label" for="contact-name">Nome*</label>
                <input class="form-input" id="contact-name" type="text" name="name" Required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-wrap">
                <label class="form-label" for="contact-sec-name">Assunto</label>
                <input class="form-input" id="contact-sec-name" type="text" name="subject" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-wrap">
                <label class="form-label" for="contact-phone">Telefone*</label>
                <input class="form-input" id="contact-phone" type="text" name="phone" Required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-wrap">
                <label class="form-label" for="contact-email">E-Mail*</label>
                <input class="form-input" id="contact-email" type="email" name="email" Required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-wrap">
                <label class="form-label" for="contact-message">Mensagem</label>
                <textarea class="form-input" id="contact-message" name="message" ></textarea>
              </div>
            </div>
          </div>
          <div class="form-button group-sm text-left">
            <button class="button button-primary" value="Send Message" type="submit">Enviar Mensagem</button>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <ul class="contact-list">
          <li> 
            <p class="contact-list-title">Contato</p>
            <div class="contact-list-content"><span class="icon mdi mdi-map-marker icon-primary"></span><a href="https://www.google.com.br/maps/place/Duque+de+Caxias,+RJ/@-22.7864957,-43.3228693,14z/data=!4m5!3m4!1s0x9972edfbe838f5:0x672bb060c280a52a!8m2!3d-22.7868557!4d-43.3130887" target="_blank">Duque de Caxias </a></div>
          </li>
          <li>
            <p class="contact-list-title">linked-in</p>
            <div class="contact-list-content"><span class="icon mdi mdi-linkedin"></span><a href="https://www.linkedin.com/in/roger-santos-de-oliveira-1b43b6219/"target="_blank">Roger Santos</a><span></div>
          </li>
          <li>
            <p class="contact-list-title">E-mail</p>
            <div class="contact-list-content"><span class="icon mdi mdi-email-outline icon-primary"></span><a href="mailto:roger.informe@gmail.com"> roger.informe@gmail.com</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock 'conteudo' %}